@media only screen and(max-width: 1200px){
    html,body{
        overflow-x: hidden;
    }
}  
/* Small tablets to big tablets 768px to 1023 px*/
@media only screen and(max-width: 1023px){
     html, body{
    font-size: 15px;
          
    }
}
/* Small phones to small tablets 481 px to 767px*/
@media only screen and (max-width:767px){
    .col{width: 100%;
    font-size: 20px;
    }
    .row{
        padding: 5%;
    }
    section{padding: 0; margin: 0}
}
/* Small phones: from 0 to 480 px*/
@media only screen and (max-width: 480px){}
